* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
header img {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
nav ul li {
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}

main .container-main {
  height: 1550px;
  width: 100%;
}
main .container-main .centered-container {
  width: 80%;
  margin: 0 auto;
}
main .container-main .centered-container h2 {
  color: #0a3779;
  margin: 10px 0;
}
main .container-main .centered-container .pasta-container {
  display: inline-block;
}
main .container-main .centered-container .pasta-container a img {
  height: 270px;
  padding: 10px;
}
main .product-container img {
  display: block;
  width: 100%;
}
main .product-container .pasta-title {
  color: #0a3779;
  background-color: #b7dae5;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0;
}
main .product-container .description-container {
  background-color: #b7dae5;
}
main .product-container .description-container .pasta-description {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
  color: #0a3779;
  font-weight: bold;
  font-size: 22px;
}

footer {
  color: #757272;
  padding: 20px 0 0 0;
}
footer .logo {
  margin-left: 10%;
}
footer .footer-container {
  width: 60%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
}
footer .footer-container ul {
  list-style: none;
  margin: 5px 0;
}
footer .footer-container ul li {
  padding: 2px 0;
}
