/**
*
* Testing
*
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
}
header img {
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
nav ul li {
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
}
nav ul li a:visited {
  text-decoration: none;
  color: #0a3779;
}
nav .hamburger {
  width: 40px;
  margin: 0 auto;
  display: none;
}
nav .hamburger div {
  width: 40px;
  height: 4px;
  background-color: #0a3779;
  margin: 5px 0;
}
@media (max-width: 360px) and (max-width: 767px) {
  nav ul {
    display: none;
  }
  nav .hamburger {
    width: 40px;
    margin: 0 auto;
    padding-bottom: 20px;
    display: block;
  }
  nav .hamburger div {
    width: 40px;
    height: 4px;
    background-color: #0a3779;
    margin: 5px 0;
  }
}
@media (min-width: 769px) and (max-width: 1365px) {
  nav ul {
    display: none;
  }
  nav .hamburger {
    width: 40px;
    margin: 0 auto;
    padding-bottom: 20px;
    display: block;
  }
  nav .hamburger div {
    width: 40px;
    height: 4px;
    background-color: #0a3779;
    margin: 5px 0;
  }
}

main {
  position: relative;
}
main .next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  right: 5%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #dcedf2;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  line-height: 48px;
  text-align: center;
  text-indent: -2px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main .next:hover {
  transform: scale(1.2);
}
main .next:active {
  transform: translate(0, 3px) scale(1.2);
}
main .next i {
  color: #fff;
}
main .prev {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 5%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #dcedf2;
  font-size: 40px;
  cursor: pointer;
  line-height: 48px;
  text-align: center;
  text-indent: -2px;
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main .prev:hover {
  transform: scale(1.2);
}
main .prev:active {
  transform: translate(0, 3px) scale(1.2);
}
main .prev i {
  color: #fff;
}
main .container-main {
  height: 1400px;
  width: 100%;
}
main .container-main .centered-container {
  width: 80%;
  margin: 0 auto;
}
main .container-main .centered-container h2 {
  color: #0a3779;
  margin: 10px 0;
}
main .container-main .centered-container .pasta-container {
  display: inline-block;
}
main .container-main .centered-container .pasta-container a img {
  height: 230px;
  padding: 10px;
}
main .product-container img {
  display: block;
  width: 100%;
}
main .product-container .pasta-title {
  color: #0a3779;
  background-color: #b7dae5;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0;
}
main .product-container .description-container {
  background-color: #b7dae5;
}
main .product-container .description-container .pasta-description {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
  color: #0a3779;
  font-weight: bold;
  font-size: 22px;
}
@media (max-width: 360px) and (max-width: 767px) {
  main .container-main {
    height: 2400px;
  }
  main .container-main .centered-container .pasta-container a img {
    height: 180px;
    padding: 10px;
  }
  main .product-container .description-container .pasta-description {
    font-size: 18px;
  }
  main .next {
    top: 50%;
    right: 0;
    width: 25px;
    height: 40px;
    font-size: 18px;
    border-radius: 0%;
  }
  main .prev {
    top: 50%;
    left: 0;
    width: 25px;
    height: 40px;
    font-size: 18px;
    border-radius: 0%;
  }
}
@media (min-width: 769px) and (max-width: 1365px) {
  main .next {
    top: 50%;
    right: 0;
    width: 70px;
    height: 100px;
    font-size: 32px;
    border-radius: 0%;
    transform: translateY(-50%);
  }
  main .prev {
    top: 50%;
    left: 0;
    width: 70px;
    height: 100px;
    font-size: 32px;
    border-radius: 0%;
    transform: translateY(-50%);
  }
  main .container-main {
    height: 1700px;
  }
  main .container-main .centered-container {
    width: 90%;
  }
  main .container-main .centered-container .pasta-container a img {
    height: 210px;
    padding: 10px;
  }
  main .product-container .description-container .pasta-description {
    font-size: 18px;
  }
}

footer {
  color: #757272;
  padding: 20px 0 0 0;
}
footer .logo {
  margin-left: 10%;
}
footer .footer-container {
  width: 60%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
}
footer .footer-container ul {
  list-style: none;
  margin: 5px 0;
}
footer .footer-container ul li {
  padding: 2px 0;
}
@media (max-width: 360px) and (max-width: 767px) {
  footer .footer-container {
    display: block;
  }
}
@media (min-width: 769px) and (max-width: 1365px) {
  footer .footer-container {
    width: 60%;
    margin-left: 10%;
    display: block;
  }
  footer .footer-container ul {
    list-style: none;
    margin: 5px 0;
  }
  footer .footer-container ul li {
    padding: 2px 0;
  }
}
