@import "./breakpoints/breakpoints.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;

    img {
        text-align: center;
    }
}

nav {
    ul{
        display: flex;
        justify-content: center;
        list-style: none;

        li {
            padding: 10px;
            font-size: 30px;
            font-weight: bold;
            
            a:visited {
                text-decoration: none;
                color: #0a3779;
            }
        }
    }

    .hamburger {
        width: 40px;
        margin: 0 auto;
        display: none;
        div {
            width: 40px;
            height: 4px;
            background-color: #0a3779;
            margin: 5px 0;
        }
    }

    @include media('<=phone', '<tablet') {
        ul {
            display: none;
        }

        .hamburger {
            width: 40px;
            margin: 0 auto;
            padding-bottom: 20px;
            display: block;

            div {
                width: 40px;
                height: 4px;
                background-color: #0a3779;
                margin: 5px 0;
            }
        }
    }

    @include media('>tablet', '<desktop') {
        ul {
            display: none;
        }

        .hamburger {
            width: 40px;
            margin: 0 auto;
            padding-bottom: 20px;
            display: block;

            div {
                width: 40px;
                height: 4px;
                background-color: #0a3779;
                margin: 5px 0;
            }
        }
    }
}

main {
    position: relative;
    
    .next {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 40%;
      right: 5%;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: #dcedf2;
      color: #fff;
      font-size: 40px;
      cursor: pointer;
      line-height: 48px;
      text-align: center;
      text-indent: -2px;
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  
      &:hover {
        transform: scale(1.2);
      }
  
      &:active {
        transform: translate(0, 3px) scale(1.2);
      }

      i {
        color: #fff;
      }
    }

    .prev {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 40%;
        left: 5%;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #dcedf2;
        font-size: 40px;
        cursor: pointer;
        line-height: 48px;
        text-align: center;
        text-indent: -2px;
        transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
        &:hover {
          transform: scale(1.2);
        }
    
        &:active {
          transform: translate(0, 3px) scale(1.2);
        }

        i {
            color: #fff;
        }
    }

    .container-main {
        height: 1400px;
        width: 100%;

        .centered-container{
            width: 80%;
            margin: 0 auto;

            h2 {
                color: #0a3779;
                margin: 10px 0;
            }

            .pasta-container {
                display: inline-block;

                a {
                    
                    img{
                        height: 230px;
                        padding: 10px;
                    }
                }
            }
        }
    }

    .product-container {
        img {
            display: block;
            width: 100%;
        }

        .pasta-title {
            color: #0a3779;
            background-color: #b7dae5;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            padding: 30px 0;
        }

        .description-container{
            background-color: #b7dae5;

            .pasta-description {
                width: 80%;
                margin: 0 auto;
                padding-bottom: 30px;
                color: #0a3779;
                font-weight: bold;
                font-size: 22px;
            }
        }
    }

    @include media('<=phone', '<tablet') {
        .container-main {
            height: 2400px;
    
            .centered-container{
                .pasta-container {
                    a {
                        img{
                            height: 180px;
                            padding: 10px;
                        }
                    }
                }
            }
        }

        .product-container {
            .description-container{
                .pasta-description {
                    font-size: 18px;
                }
            }
        }

        .next {
            top: 50%;
            right: 0;
            width: 25px;
            height: 40px;
            font-size: 18px;
            border-radius: 0%;
        }
      
        .prev {
            top: 50%;
            left: 0;
            width: 25px;
            height: 40px;
            font-size: 18px;
            border-radius: 0%;
        }
    }

    @include media('>tablet', '<desktop') {
        .next {
            top: 50%;
            right: 0;
            width: 70px;
            height: 100px;
            font-size: 32px;
            border-radius: 0%;
            transform: translateY(-50%);
        }
      
        .prev {
            top: 50%;
            left: 0;
            width: 70px;
            height: 100px;
            font-size: 32px;
            border-radius: 0%;
            transform: translateY(-50%);
        }

        .container-main {
            height: 1700px;

            .centered-container{
                width: 90%;
                .pasta-container {
                    a {
                        img{
                            height: 210px;
                            padding: 10px;
                        }
                    }
                }
            }
        }

        .product-container {
            .description-container{
                .pasta-description {
                    font-size: 18px;
                }
            }
        }
    }
}


footer {
    color: rgb(117, 114, 114);
    padding: 20px 0 0 0;

    .logo {
        margin-left: 10%;
    }

    .footer-container {
        width: 60%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;

        ul {
            list-style: none;
            margin: 5px 0;
            
            li {
                padding: 2px 0;
            }
        }
    }

    @include media('<=phone', '<tablet') {
        .footer-container {
            display: block;
        }
    }

    @include media('>tablet', '<desktop') {
        .footer-container {
            width: 60%;
            margin-left: 10%;
            display: block;
            
            ul {
                list-style: none;
                margin: 5px 0;
                
                li {
                    padding: 2px 0;
                }
            }
        }
    }
}