*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;

    img {
        text-align: center;
    }
}

nav {
    ul{
        display: flex;
        justify-content: center;
        list-style: none;

        li {
            padding: 10px;
            font-size: 30px;
            font-weight: bold;
        }
    }
}

main {
    .container-main {
        height: 1400px;
        width: 100%;

        .centered-container{
            width: 80%;
            margin: 0 auto;

            h2 {
                color: #0a3779;
                margin: 10px 0;
            }

            .pasta-container {
                display: inline-block;

                a {
                    
                    img{
                        height: 230px;
                        padding: 10px;
                    }
                }
            }
        }
    }

    .product-container {
        img {
            display: block;
            width: 100%;
        }

        .pasta-title {
            color: #0a3779;
            background-color: #b7dae5;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            padding: 30px 0;
        }

        .description-container{
            background-color: #b7dae5;

            .pasta-description {
                width: 80%;
                margin: 0 auto;
                padding-bottom: 30px;
                color: #0a3779;
                font-weight: bold;
                font-size: 22px;
            }
        }
    }
}

footer {
    color: rgb(117, 114, 114);
    padding: 20px 0 0 0;

    .logo {
        margin-left: 10%;
    }

    .footer-container {
        width: 60%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;

        ul {
            list-style: none;
            margin: 5px 0;
            
            li {
                padding: 2px 0;
            }
        }
    }
}